wheel
fvcore==0.1.5.post20221221
chumpy
einops
ffmpeg
h5py
iopath==0.1.10
numpy==1.23.5
open3d
opencv-python==4.8.*
Pillow==10.0.0
PyOpenGL
pyright
ruff
scikit-image
scipy
#shapely==2.0.2
tqdm
trimesh==3.23.5
-f https://download.pytorch.org/whl/cu118
torch==2.0.1
torchvision
dgl==2.0.0
#smplx
onnxruntime
rembg
rtree

# On macOS:
#   - Ensure you have installed the XCode Command Line Tools:
#     - xcode-select --install
#     - sudo xcode-select --switch /Library/Developer/CommandLineTools
#   - MACOSX_DEPLOYMENT_TARGET=10.14 CC=clang CXX=clang++ pip install --no-build-isolation "git+https://github.com/facebookresearch/pytorch3d.git"

