absl-py==2.1.0
addict==2.4.0
annotated-types==0.7.0
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
chumpy==0.70
click==8.1.7
coloredlogs==15.0.1
ConfigArgParse==1.7
contourpy==1.3.1
cycler==0.12.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
deepface==0.0.93
dgl==2.0.0
einops==0.8.0
fastjsonschema==2.21.1
ffmpeg==1.4
filelock==3.16.1
fire==0.7.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.55.2
fvcore==0.1.5.post20221221
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
grpcio==1.68.1
gunicorn==23.0.0
h5py==3.12.1
humanfriendly==10.0
idna==3.10
imageio==2.36.1
importlib_metadata==8.5.0
iopath==0.1.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
keras==3.7.0
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
libigl==2.5.1
lightning-utilities==0.11.9
llvmlite==0.43.0
lpips==0.1.4
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
mtcnn==1.0.0
namex==0.0.8
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nodeenv==1.9.1
numba==0.60.0
numpy==1.23.5
onnxruntime==1.20.1
open3d==0.18.0
opencv-python==4.8.1.78
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
packaging==24.2
pandas==2.2.3
Pillow==10.0.0
platformdirs==4.3.6
plotly==5.24.1
pooch==1.8.2
portalocker==3.0.0
protobuf==5.29.1
psutil==6.1.0
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
PyMatting==1.1.13
PyOpenGL==3.1.7
pyparsing==3.2.0
pyquaternion==0.9.9
pyright==1.1.390
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@055ab3a2e3e611dff66fa82f632e62a315f3b5e7
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
rembg==2.0.60
requests==2.32.3
retina-face==0.0.17
retrying==1.3.4
rich==13.9.4
rpds-py==0.22.3
Rtree==1.3.0
ruff==0.8.2
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
shapely==2.0.2
six==1.17.0
smplx==0.1.28
soupsieve==2.6
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tf_keras==2.18.0
threadpoolctl==3.5.0
tifffile==2024.9.20
torch==2.0.1
torchdata==0.9.0
torchmetrics==1.6.0
torchvision==0.15.2
tqdm==4.67.1
traitlets==5.14.3
trimesh==3.23.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.6
wrapt==1.17.0
yacs==0.1.8
zipp==3.21.0
